<?xml version="1.0" encoding="utf-8"?>
<Pay>
  <Key Value="WxPay" IsSystem="1" />
  <Name Value="微信支付" IsSystem="1" />
  <Photo Value="/Plugins/Pay/AliPay/logo.gif" IsSystem="1" />
  <Description Value="微信支付" IsSystem="1" />
  <IsCod Value="0" IsSystem="1" />
  <IsOnline Value="1" IsSystem="1" />
  <IsEnabled Value="1" IsSystem="1" />
  <Partner Value="2088911718391015" IsSystem="0" Name="合作伙伴ID" />
  <SellerEmail Value="webmaster@mentoronsite.com" IsSystem="0" Name="卖家帐号" />
  <SecurityKey Value="yko2au3mytymwclbver7w210hx67sosa" IsSystem="0" Name="安全校验码" />
  <PrivateKey Value="" IsSystem="0" Name="商户的私钥" />
  <InputCharset Value="utf-8" IsSystem="0" Name="字符编码格式" />
  <SignType Value="MD5" IsSystem="0" Name="签名方式" />
  <Service Value="create_direct_pay_by_user" IsSystem="0" Name="服务参数" SelectValue="alipay.wap.create.direct.pay.by.user|手机网站即时到帐#trade_create_by_buyer|标准双接口交易#create_direct_pay_by_user|直接付款#create_partner_trade_by_buyer|担保付款" />
</Pay>
