<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="DataProvider" value="XueFuShop.DAL"/>
    <add key="TablePrefix" value="_"/>
  </appSettings>
  <connectionStrings>
    <!--链接SQL Server数据库的链接字符串-->
    <add name="SQLCONNECTIONSTRING" connectionString="data Source=114.80.200.131,2433;database=MOSDB;user id=website;pwd=xuefuruanjian@163.com" providerName="System.Data.SqlClient"></add>
  </connectionStrings>
  
    <system.web>
      <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
        <!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
        <compilation debug="true" />
        <!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
        <authentication mode="Windows" />
        <customErrors mode="Off"/>
        <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    </system.web>
</configuration>
