<?xml version="1.0" encoding="UTF-8"?>
<Config>
  <Channel Text="基本权限" Key="SocoShop_">
    <Block Text="基本设置权限">
      <Item Text="管理别人" Value="ManageOther"  NeedOther="False"/>
      <Item Text="产品说明" Value="Product"  NeedOther="False"/>
      <Item Text="查看系统设置" Value="ReadConfig"  NeedOther="False"/>
      <Item Text="更改系统设置" Value="UpdateConfig"  NeedOther="False"/>
      <Item Text="查看语言包" Value="ReadLanguage"  NeedOther="False"/>
      <Item Text="修改语言包" Value="UpdateLanguage"  NeedOther="False"/>
      <Item Text="密码修改" Value="UpdatePassword"  NeedOther="False"/>
      <Item Text="模板管理" Value="Template"  NeedOther="False"/>
      <Item Text="网站地图" Value="Sitemap"  NeedOther="False"/>
    </Block>
    <Block Text="菜单管理权限">
      <Item Text="查看菜单" Value="ReadMenu"  NeedOther="False"/>
      <Item Text="添加菜单" Value="AddMenu"  NeedOther="False"/>
      <Item Text="修改菜单" Value="UpdateMenu"  NeedOther="False"/>
      <Item Text="删除菜单" Value="DeleteMenu"  NeedOther="False"/>
    </Block>
    <Block Text="管理组管理权限">
      <Item Text="查看管理组" Value="ReadAdminGroup"  NeedOther="False"/>
      <Item Text="添加管理组" Value="AddAdminGroup"  NeedOther="False"/>
      <Item Text="修改管理组" Value="UpdateAdminGroup"  NeedOther="False"/>
      <Item Text="删除管理组" Value="DeleteAdminGroup"  NeedOther="False"/>
    </Block>
    <Block Text="管理员管理权限">
      <Item Text="查看管理员" Value="ReadAdmin"  NeedOther="False"/>
      <Item Text="添加管理员" Value="AddAdmin"  NeedOther="False"/>
      <Item Text="修改管理员" Value="UpdateAdmin"  NeedOther="False"/>
      <Item Text="删除管理员" Value="DeleteAdmin"  NeedOther="False"/>
    </Block>
    <Block Text="管理日志管理权限">
      <Item Text="查看管理日志" Value="ReadAdminLog"  NeedOther="False"/>
      <Item Text="删除管理日志" Value="DeleteAdminLog"  NeedOther="False"/>
    </Block>
    <Block Text="集团">
      <Item Text="管理集团" Value="ManageGroupCompany"  NeedOther="False"/>
      <Item Text="查看公司列表" Value="ReadCompanyList"  NeedOther="False"/>
      <Item Text="更新子公司" Value="UpdateSubCompany"  NeedOther="False"/>
      <Item Text="增加公司" Value="AddCompany"  NeedOther="False"/>
      <Item Text="删除公司" Value="DeleteCompany"  NeedOther="False"/>
      <Item Text="改变公司状态" Value="CompanyState"  NeedOther="False"/>
    </Block>
    <Block Text="公司信息管理">
      <Item Text="查看公司" Value="ReadCompany"  NeedOther="False"/>
      <Item Text="更新公司" Value="UpdateCompany"  NeedOther="False"/>
      <Item Text="设定公司考试内容" Value="TestCateSet"  NeedOther="False"/>
    </Block>
    <Block Text="岗位信息管理">
      <Item Text="查看岗位" Value="ReadPost"  NeedOther="False"/>
      <Item Text="增加岗位" Value="AddPost"  NeedOther="False"/>
      <Item Text="更新岗位" Value="UpdatePost"  NeedOther="False"/>
      <Item Text="删除岗位" Value="DeletePost"  NeedOther="False"/>
      <Item Text="岗位排序" Value="UpdatePostOrder"  NeedOther="False"/>
    </Block>
    <Block Text="题库类别管理">
      <Item Text="查看类别" Value="ReadCourseCate"  NeedOther="False"/>
      <Item Text="增加类别" Value="AddCourseCate"  NeedOther="False"/>
      <Item Text="更新类别" Value="UpdateCourseCate"  NeedOther="False"/>
      <Item Text="删除类别" Value="DeleteCourseCate"  NeedOther="False"/>
      <Item Text="更改排序" Value="OrderCourseCate"  NeedOther="False"/>
    </Block>
    <Block Text="题库管理">
      <Item Text="查看题库" Value="ReadCourse"  NeedOther="False"/>
      <Item Text="增加题库" Value="AddCourse"  NeedOther="False"/>
      <Item Text="更新题库" Value="UpdateCourse"  NeedOther="False"/>
      <Item Text="删除题库" Value="DeleteCourse"  NeedOther="False"/>
      <Item Text="改变题库状态" Value="UpdateCourseState"  NeedOther="False"/>
    </Block>
    <Block Text="试题管理">
      <Item Text="查看试题" Value="ReadQuestion"  NeedOther="False"/>
      <Item Text="增加试题" Value="AddQuestion"  NeedOther="False"/>
      <Item Text="更新试题" Value="UpdateQuestion"  NeedOther="False"/>
      <Item Text="删除试题" Value="DeleteQuestion"  NeedOther="False"/>
    </Block>
    <Block Text="考试成绩管理">
      <Item Text="查看成绩" Value="ReadTestPaper"  NeedOther="False"/>
      <Item Text="删除成绩" Value="DeleteTestPaper"  NeedOther="False"/>
    </Block>
    <Block Text="文章分类权限">
      <Item Text="添加文章分类" Value="AddArticleClass"  NeedOther="False"/>
      <Item Text="修改文章分类" Value="UpdateArticleClass"  NeedOther="False"/>
      <Item Text="删除文章分类" Value="DeleteArticleClass"  NeedOther="False"/>
      <Item Text="查看文章分类" Value="ReadArticleClass"  NeedOther="False"/>
    </Block>
    <Block Text="文章权限">
      <Item Text="添加文章" Value="AddArticle"  NeedOther="False"/>
      <Item Text="修改文章" Value="UpdateArticle"  NeedOther="False"/>
      <Item Text="删除文章" Value="DeleteArticle"  NeedOther="False"/>
      <Item Text="查看文章" Value="ReadArticle"  NeedOther="False"/>
    </Block>
    <Block Text="支付管理权限">
      <Item Text="查看支付" Value="ReadPay"  NeedOther="False"/>
      <Item Text="添加支付" Value="AddPay"  NeedOther="False"/>
      <Item Text="修改支付" Value="UpdatePay"  NeedOther="False"/>
      <Item Text="删除支付" Value="DeletePay"  NeedOther="False"/>
    </Block>
    <Block Text="地址重写管理权限">
      <Item Text="查看地址重写" Value="ReadURLRewriter"  NeedOther="False"/>
      <Item Text="添加地址重写" Value="AddURLRewriter"  NeedOther="False"/>
      <Item Text="修改地址重写" Value="UpdateURLRewriter"  NeedOther="False"/>
      <Item Text="删除地址重写" Value="DeleteURLRewriter"  NeedOther="False"/>
    </Block>
  </Channel>
  
  <Channel Text="课程管理" Key="SocoShop_">
    <Block Text="课程权限">
      <Item Text="添加课程" Value="AddProduct"  NeedOther="False"/>
      <Item Text="修改课程" Value="UpdateProduct"  NeedOther="False"/>
      <Item Text="下架课程" Value="OffSaleProduct"  NeedOther="False"/>
      <Item Text="上架课程" Value="OnSaleProduct"  NeedOther="False"/>
      <Item Text="查看课程" Value="ReadProduct"  NeedOther="False"/>     
    </Block>
    <Block Text="课程评论权限">
      <Item Text="修改课程评论" Value="UpdateProductComment" NeedOther="False"/>
      <Item Text="删除课程评论" Value="DeleteProductComment"  NeedOther="False"/>
      <Item Text="查看课程评论" Value="ReadProductComment" NeedOther="False"/>
    </Block>
    <Block Text="课程回复权限">
      <Item Text="删除课程回复" Value="DeleteProductReply"  NeedOther="False"/>
      <Item Text="查看课程回复" Value="ReadProductReply" NeedOther="False"/>
    </Block>
    <Block Text="课程分类权限">
      <Item Text="添加课程分类" Value="AddProductClass"  NeedOther="False"/>
      <Item Text="修改课程分类" Value="UpdateProductClass"  NeedOther="False"/>
      <Item Text="删除课程分类" Value="DeleteProductClass" NeedOther="False"/>
      <Item Text="查看课程分类" Value="ReadProductClass"  NeedOther="False"/>
    </Block>
    <Block Text="课程品牌管理权限">
      <Item Text="添加课程品牌" Value="AddProductBrand"  NeedOther="False"/>
      <Item Text="修改课程品牌" Value="UpdateProductBrand"  NeedOther="False"/>
      <Item Text="删除课程品牌" Value="DeleteProductBrand"  NeedOther="False"/>
      <Item Text="查看课程品牌" Value="ReadProductBrand"  NeedOther="False"/>
    </Block>    
    <Block Text="属性组管理权限">
      <Item Text="添加属性组" Value="AddAttributeClass"  NeedOther="False"/>
      <Item Text="修改属性组" Value="UpdateAttributeClass"  NeedOther="False"/>
      <Item Text="删除属性组" Value="DeleteAttributeClass" NeedOther="False"/>
      <Item Text="查看属性组" Value="ReadAttributeClass" NeedOther="False"/>
    </Block>
    <Block Text="属性管理权限">
      <Item Text="添加属性" Value="AddAttribute"  NeedOther="False"/>
      <Item Text="修改属性" Value="UpdateAttribute"  NeedOther="False"/>
      <Item Text="删除属性" Value="DeleteAttribute" NeedOther="False"/>
      <Item Text="查看属性" Value="ReadAttribute" NeedOther="False"/>
    </Block>
    <Block Text="规格管理权限">
      <Item Text="添加规格" Value="AddStandard"  NeedOther="False"/>
      <Item Text="修改规格" Value="UpdateStandard"  NeedOther="False"/>
      <Item Text="删除规格" Value="DeleteStandard" NeedOther="False"/>
      <Item Text="查看规格" Value="ReadStandard" NeedOther="False"/>
    </Block>
    <Block Text="课程批量修改">
      <Item Text="批量修改" Value="ProductBatchEdit" NeedOther="False"/>
    </Block>
  </Channel>

  <Channel Text="用户中心" Key="SocoShop_">
    <Block Text="会员管理权限">
      <Item Text="查看会员" Value="ReadUser"  NeedOther="False"/>
      <Item Text="查看删除会员" Value="ReadDeleteUser"  NeedOther="False"/>
      <Item Text="添加会员" Value="AddUser"  NeedOther="False"/>
      <Item Text="修改会员" Value="UpdateUser" NeedOther="False"/>
      <Item Text="重置密码" Value="UpdateUserPassword" NeedOther="False"/>
      <Item Text="修改手机号码" Value="UpdateMobile" NeedOther="False"/>
      <Item Text="修改姓名" Value="UpdateRealName" NeedOther="False"/>
      <Item Text="显示身份证号" Value="ShowIDCard" NeedOther="False"/>
      <Item Text="显示入职时间" Value="ShowEntryDate" NeedOther="False"/>
      <Item Text="删除会员" Value="DeleteUser" NeedOther="False"/>
      <Item Text="恢复会员" Value="RecoveryUser" NeedOther="False"/>
      <Item Text="激活会员" Value="ActiveUser"  NeedOther="False"/>
      <Item Text="未激活会员" Value="UnActiveUser"  NeedOther="False"/>
      <Item Text="冻结会员" Value="FreezeUser"  NeedOther="False"/>
      <Item Text="解除冻结会员" Value="UnFreezeUser"  NeedOther="False"/>
      <Item Text="设置不考核会员" Value="FreeUser"  NeedOther="False"/>
      <Item Text="授权登陆" Value="AuthorizeLogin"  NeedOther="False"/>
    </Block>
    <Block Text="会员帐户管理权限">
      <Item Text="添加会员帐户" Value="AddUserAccountRecord"  NeedOther="False"/>
      <Item Text="查看会员帐户" Value="ReadUserAccountRecord"  NeedOther="False"/>
    </Block>
      <Block Text="用户留言管理权限">
        <Item Text="添加用户留言" Value="AddUserMessage"  NeedOther="False"/>
        <Item Text="修改用户留言" Value="UpdateUserMessage" NeedOther="False"/>
        <Item Text="删除用户留言" Value="DeleteUserMessage" NeedOther="False"/>
        <Item Text="查看用户留言" Value="ReadUserMessage"  NeedOther="False"/>
      </Block>
  </Channel>

  <Channel Text="订单与统计" Key="SocoShop_">
    <Block Text="订单权限">
      <Item Text="添加订单" Value="AddOrder"  NeedOther="False"/>
      <Item Text="修改订单" Value="UpdateOrder"  NeedOther="False"/>
      <Item Text="查看订单" Value="ReadOrder"  NeedOther="False"/>
      <Item Text="操作订单" Value="OperateOrder"  NeedOther="False"/>
    </Block>
    <Block Text="统计分析">
      <Item Text="会员分析" Value="StatisticsUser"  NeedOther="False"/>
      <Item Text="课程分析" Value="StatisticsProduct"  NeedOther="False"/>
      <Item Text="订单分析" Value="StatisticsOrder"  NeedOther="False"/>
      <Item Text="销售分析" Value="StatisticsSale"  NeedOther="False"/>
    </Block>
  </Channel>

  <Channel Text="EMS权限" Key="SocoShop_">
    <Block Text="EMS管理">
      <Item Text="EMS菜单" Value="EMSMenu"  NeedOther="False"/>
      <Item Text="岗位学习" Value="PostStudy"  NeedOther="False"/>
    </Block>
    <Block Text="报表管理">
      <Item Text="EMS报表" Value="ReadEMSReport"  NeedOther="False"/>
    </Block>
  </Channel>
  <Channel Text="TPR权限" Key="SocoShop_">
    <Block Text="TPR管理">
      <Item Text="TPR菜单" Value="TPRMenu"  NeedOther="False"/>
    </Block>
    <Block Text="KPI指标管理">
      <Item Text="读取KPI指标" Value="ReadKPI"  NeedOther="False"/>
      <Item Text="增加KPI指标" Value="AddKPI"  NeedOther="False"/>
      <Item Text="更新KPI指标" Value="UpdateKPI"  NeedOther="False"/>
      <Item Text="删除KPI指标" Value="DeleteKPI"  NeedOther="False"/>
    </Block>
    <Block Text="工作岗位管理">
      <Item Text="读取工作岗位" Value="ReadWorkingPost"  NeedOther="False"/>
      <Item Text="增加工作岗位" Value="AddWorkingPost"  NeedOther="False"/>
      <Item Text="更新工作岗位" Value="UpdateWorkingPost"  NeedOther="False"/>
      <Item Text="删除工作岗位" Value="DeleteWorkingPost"  NeedOther="False"/>
    </Block>
    <Block Text="评估名称管理">
      <Item Text="读取评估名称" Value="ReadEvaluateName"  NeedOther="False"/>
      <Item Text="增加评估名称" Value="AddEvaluateName"  NeedOther="False"/>
      <Item Text="更新评估名称" Value="UpdateEvaluateName"  NeedOther="False"/>
      <Item Text="删除评估名称" Value="DeleteEvaluateName"  NeedOther="False"/>
    </Block>
    <Block Text="评估管理">
      <Item Text="增加评估" Value="AddEvaluate"  NeedOther="False"/>
      <Item Text="读取报表" Value="ReadTPRReport"  NeedOther="False"/>
    </Block>
  </Channel>
</Config>